.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sibebar-content {
  /*width: 60px;*/
  background-color:#5d4595;
}

.sibebar-content.compressedmenu {
  width: 60px;
}
.sibebar-content.expandmenu {
  width: 3em;
}

.content {
  padding: 2%;
  background-color: rgb(240, 240, 240);
}